### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 

# Read in the airports data.
airports = pd.read_csv("data/airports.dat", header=None, na_values='\\N')
airports.columns = ["id", "name", "city", "country", "iata", "icao", "latitude", "longitude", "altitude","timezone", "dst", "tz", "type", "source"]

# Read in the airlines data.
airlines = pd.read_csv("data/airlines.dat", header=None, na_values='\\N')
airlines.columns = ["id", "name", "alias", "iata", "icao", "callsign", "country", "active"]

# Read in the routes data.
routes = pd.read_csv("data/routes.dat", header=None, na_values='\\N')
routes.columns = ["airline", "airline_id", "source", "source_id", "dest", "dest_id", "codeshare", "stops", "equipment"]

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

In [7]:
routes

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2
5,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2
6,2B,410.0,DME,4029.0,NBC,6969.0,NaN,0,CR2
7,2B,410.0,DME,4029.0,TGK,NaN,NaN,0,CR2
8,2B,410.0,DME,4029.0,UUA,6160.0,NaN,0,CR2
9,2B,410.0,EGO,6156.0,KGD,2952.0,NaN,0,CR2
10,2B,410.0,EGO,6156.0,KZN,2990.0,NaN,0,CR2
11,2B,410.0,GYD,2922.0,NBC,6969.0,NaN,0,CR2
12,2B,410.0,KGD,2952.0,EGO,6156.0,NaN,0,CR2
13,2B,410.0,KZN,2990.0,AER,2965.0,NaN,0,CR2
14,2B,410.0,KZN,2990.0,ASF,2966.0,NaN,0,CR2
15,2B,410.0,KZN,2990.0,CEK,2968.0,NaN,0,CR2
16,2B,410.0,KZN,2990.0,DME,4029.0,NaN,0,CR2
17,2B,410.0,KZN,2990.0,EGO,6156.0,NaN,0,CR2
18,2B,410.0,KZN,2990.0,LED,2948.0,NaN,0,CR2
19,2B,410.0,KZN,2990.0,SVX,2975.0,NaN,0,CR2
20,2B,410.0,LED,2948.0,KZN,2990.0,NaN,0,CR2
21,2B,410.0,LED,2948.0,NBC,6969.0,NaN,0,CR2
22,2B,410.0,LED,2948.0,UUA,6160.0,NaN,0,CR2
23,2B,410.0,MRV,2962.0,ASF,2966.0,NaN,0,CR2
24,2B,410.0,NBC,6969.0,DME,4029.0,NaN,0,CR2
25,2B,410.0,NBC,6969.0,GYD,2922.0,NaN,0,CR2
26,2B,410.0,NBC,6969.0,LED,2948.0,NaN,0,CR2
27,2B,410.0,NBC,6969.0,SVX,2975.0,NaN,0,CR2
28,2B,410.0,NJC,2972.0,SVX,2975.0,NaN,0,CR2
29,2B,410.0,NJC,2972.0,UUA,6160.0,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178.0,SYD,3361.0,ABX,3333.0,NaN,0,SF3
67634,ZL,4178.0,SYD,3361.0,ARM,4062.0,NaN,0,SF3
67635,ZL,4178.0,SYD,3361.0,BHQ,6241.0,NaN,0,SF3
67636,ZL,4178.0,SYD,3361.0,BHS,6249.0,NaN,0,SF3
67637,ZL,4178.0,SYD,3361.0,BNK,4291.0,NaN,0,SF3
67638,ZL,4178.0,SYD,3361.0,DBO,3358.0,NaN,0,SF3
67639,ZL,4178.0,SYD,3361.0,GFF,6271.0,NaN,0,SF3
67640,ZL,4178.0,SYD,3361.0,LSY,6287.0,NaN,0,SF3
67641,ZL,4178.0,SYD,3361.0,MIM,6294.0,NaN,0,SF3
67642,ZL,4178.0,SYD,3361.0,MQL,6298.0,NaN,0,SF3
67643,ZL,4178.0,SYD,3361.0,MYA,6302.0,NaN,0,SF3
67644,ZL,4178.0,SYD,3361.0,NRA,6307.0,NaN,0,SF3
67645,ZL,4178.0,SYD,3361.0,NTL,4320.0,NaN,0,SF3
67646,ZL,4178.0,SYD,3361.0,OAG,6793.0,NaN,0,SF3
67647,ZL,4178.0,SYD,3361.0,PKE,6317.0,NaN,0,SF3
67648,ZL,4178.0,SYD,3361.0,TRO,6794.0,NaN,0,SF3
67649,ZL,4178.0,SYD,3361.0,WGA,3363.0,NaN,0,SF3
67650,ZL,4178.0,TRO,6794.0,GFN,6792.0,NaN,0,SF3
67651,ZL,4178.0,TRO,6794.0,SYD,3361.0,NaN,0,SF3
67652,ZL,4178.0,TSV,3330.0,ISA,3324.0,NaN,0,SF3
67653,ZL,4178.0,TSV,3330.0,WIN,6337.0,NaN,0,SF3
67654,ZL,4178.0,WGA,3363.0,MEL,3339.0,NaN,0,SF3
67655,ZL,4178.0,WGA,3363.0,SYD,3361.0,NaN,0,SF3
67656,ZL,4178.0,WIN,6337.0,LRE,6289.0,NaN,0,SF3
67657,ZL,4178.0,WIN,6337.0,TSV,3330.0,NaN,0,SF3
67658,ZL,4178.0,WYA,6334.0,ADL,3341.0,NaN,0,SF3
67659,ZM,19016.0,DME,4029.0,FRU,2912.0,NaN,0,734
67660,ZM,19016.0,FRU,2912.0,DME,4029.0,NaN,0,734
67661,ZM,19016.0,FRU,2912.0,OSS,2913.0,NaN,0,734
67662,ZM,19016.0,OSS,2913.0,FRU,2912.0,NaN,0,734

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

In [10]:
df_LEX=routes[((routes['source'])=='LEX'|(routes['dest'])=='LEX')]

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.